@model IEnumerable<SGCM.Application.Dtos.Citas_Agenda.DisponibilidadResponseDto>

@{
    ViewData["Title"] = "Disponibilidades";
}

<h1>Disponibilidades</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Crear Nueva</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MedicoId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiaSemana)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoraInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoraFin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EsDiaLibre)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MedicoId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiaSemana)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoraInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoraFin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EsDiaLibre)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id=item.Id }) |
                @Html.ActionLink("Detalles", "Details", new { id=item.Id }) |
                @Html.ActionLink("Eliminar", "Delete", new { id=item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
