@model SGCM.Web.ViewModels.Seguridad_Usuario.Auditoria.AuditoriaViewModel

@{
    ViewData["Title"] = "Detalles de Auditoría";
    Layout = "_Layout";
}

<h1>Detalles de Auditoría</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UsuarioId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UsuarioId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Accion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Accion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EntidadAfectada)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EntidadAfectada)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Detalles)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Detalles)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Volver a la lista</a>
</div>
