@model SGCM.Web.ViewModels.Citas_Agenda.Cita.CitaViewModel

@{
    ViewData["Title"] = "Eliminar Cita";
}

<h1>Eliminar Cita</h1>

<h3>¿Está seguro que desea eliminar esta cita?</h3>
<div>
    <h4>Cita</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaHora)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaHora)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Motivo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Motivo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PacienteId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PacienteId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MedicoId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MedicoId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Volver a la lista</a>
    </form>
</div>
