@model SGCM.Web.ViewModels.Citas_Agenda.Cita.CitaViewModel

@{
    ViewData["Title"] = "Detalles de la Cita";
}

<h1>Detalles de la Cita</h1>

<div>
    <h4>Cita</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaHora)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaHora)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Motivo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Motivo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PacienteId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PacienteId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MedicoId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MedicoId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaCreacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaCreacion)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Cancelar", "Cancelar", new { id = Model.Id }) |
    @Html.ActionLink("Completar", "Completar", new { id = Model.Id }) |
    <a asp-action="Index">Volver a la lista</a>
</div>
